.search input[type="text"]{
    padding: 8px;
    border-radius: 11px 0 0 11px;
    border: none;
    width: 250px;
}    
.search button{
    padding:8px;
    padding-right: 15px;
    padding-left: 15px;
    background-color: rgb(49, 47, 185);
    color: white;
    border-radius: 0 10px 10px 0; 
    border: none;
    margin-left: none;
}   
.searchbox{
    display: flex;
    justify-content: center;
    margin-left: 150px;
    border: 1 solid black;
} 